<div id="container" class="content">
  <div class="content">
    <h1>The Dev Challenge</h1>
    <% if logged_in? %>
        <p>Hello, <%= current_user[:name]%>!</p>
    <% else %>
        <p>Login before sending your file</p>
    <% end %>
    
    <%= form_with(model: @purchase,url: purchases_post_file_path, method: :post) do |form| %>
      <div class="field">
        <%= form.label "Please, insert the data files" %>
        <%= form.file_field :file%>
      </div>
      
      <div class="actions">
        <%= form.submit "Upload file", id:"form_submit"%>
      </div>
    <% end %>
    
    <div id="data">
      <p>File total gross income: <span id="file_total_gross_income">0</span></p>
      <p>All times total gross income: <span id="all_times_total_gross_income"><%= @all_times_total_gross_income%></span></p>
    </div>
    <div id="error">Error</div>
    
    <% if logged_in? %>
      <%= button_to "Logout", "auth/logout", method:"get" %>
    <% else %> 
      <%= button_to "Sign in with Google", "/auth/google_oauth2", method:"post" %>
    <% end%>
  </div>
  
</div>

<%= javascript_include_tag 'home'%>